bam
.bam
__pycache__
*.pyc
objs
SDL.dll
freetype.dll
autoexec.cfg
.vscode

cmake_install.cmake
CMakeCache.txt
CMakeFiles
Makefile
CMakeSettings*
CPackConfig.cmake
CPackSourceConfig.cmake
CTestTestfile.cmake
hunter_srv
*.vcxproj
*.filters
teeworlds.sln
